#so360{white-space:nowrap}
#so360 form{margin:0;padding:0}
#so360_keyword{width:527px;height:45px;line-height:45px;font:20px Lato;padding:2px 5px;margin-right:5px;border:2px solid #19B955;outline:0;vertical-align:middle}
#so360_submit{width:90px;height:45px;border:0;color:#fff;background:#19B955;font-weight:Lato;font:Lato 25px Lato;padding:0;padding-top:3px\9;cursor:pointer;vertical-align:middle}
