body{text-align:center;font-family:"Lato"}
* {
	padding:0;
	margin:0;
	list-style:none
}
body {
	font-size:14px;
	font-family:'Lato',Verdana,sans-serif;
	background:#2E2E2E;
	color:#fff;
	align="center"
}
a {
	text-decoration:none;
	color:#fff
}
.all {
	width:1000px;
	margin:100px auto 0
}
h1 {
	text-align:center
}
ul {
	padding-top:50px;
	margin-left:-20px;
	zoom:1;
	overflow:hidden;
	padding-bottom:20px
}
li {
	float:left;
	width:235px;
	height:80px;
	margin-left:20px;
	_display:inline;
	text-align:center;
	line-height:80px
}
li a {
	font-size:16px;
	font-weight:bold;
	display:block;
	background:#404040;
}
li a:hover {
	background:#4E4E4E
}
p {
	text-align:center;
	color:#fff
}

::-webkit-scrollbar-thumb{
   background-color:#40F4D0;  
   height:50px;
   outline-offset:-2px;
   outline:2px solid #eee; 
   -webkit-border-radius:5px; 
   border: 1px solid #eee; 
}

::-webkit-scrollbar-thumb:hover{
   background-color:#40F4D0;
   height:50px;
   -webkit-border-radius:5px;
}

::-webkit-scrollbar{
   width:13px;
   height:8px;
}

::-webkit-scrollbar-track-piece{
   background-color:#f8f8f8;
   -webkit-border-radius:0;
}
::-webkit-scrollbar-thumb:active{
   height:50px;
   background-color:#40F4D0;
   -webkit-border-radius:4px;
}
